@model IEnumerable<ChuvsuEvents.ViewModels.mParticipantViewModel>
@{
    ViewData["Title"] = "123";
}
<div class="col-sm border-right ">
    <p class="mb-4 pt-1 text-center">Мои заявки</p>

</div>
<div class="card-columns">
    @foreach (var req in Model) {
    <div class="card border-success" style="max-width: 20rem;">
       
        <div class="card-header bg-transparent border-success">
            <form asp-action="OnPostDeleteSub" asp-route-id="@req.Id" method="post">
                <button type="submit" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </form>
            Мероприятие: @req.EventName
        </div>
        <div class="card-body text-success">
            <h5 class="card-title">@req.Title</h5>
            <p class="card-text">@req.Description</p>
        </div>
        <div class="card-footer bg-transparent border-success">Подана: @req.SubDate</div>
    </div>
    }

</div>